<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SistemaGestionRiesgos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/SistemaGestionRiesgos.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <!-- Logo y elementos de la izquierda -->
            <div class="d-flex justify-content-start align-items-center">

                <!-- Logo de retroceso o de la compañía-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="previousIcon" src="~/imgs/previous.png" alt="Previous" style="width: 20px; height: 20px;"/>
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                  <img id="otherIcon" src="~/imgs/logo-text.png" alt="Other Icon" style="width: 60px; height: 60px; display: none;"/>
                </a>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link dark-gray-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>

            <!-- Botón de Iniciar Sesión a la derecha -->
            <div class="navbar-collapse collapse justify-content-end">
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link dark-gray-text" asp-area="" asp-controller="Riesgos" asp-action="Create">Añadir un riesgo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dark-gray-text" asp-area="" asp-controller="Planes" asp-action="Create">Añadir un plan</a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link dark-gray-text">@User.Identity.Name</a>
                        </li>
                        <form asp-controller="Usuarios" asp-action="Logout" method="post" id="logoutForm">
                            <button type="submit" class="nav-link dark-gray-text" style="border: none; background-color: transparent; cursor: pointer;">
                                Cerrar Sesión
                            </button>
                        </form>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link dark-gray-text" asp-area="" asp-controller="Usuarios" asp-action="Login">Iniciar Sesión</a>
                        </li>
                    }
                    

                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted dark-gray">
    <div class="container">
        &copy; 2024 - SistemaGestionRiesgos - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="porcelain">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
